@model QLBanHang.Models.KHACHHANG

@{
    ViewBag.Title = "Thêm mới khách hàng";
    Layout = "~/Views/Shared/_LayoutVC.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <head>
        <style>
        </style>
    </head>
    <div class="content-wrapper">
        <section class="content my-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">THÊM MỚI KHÁCH HÀNG</strong>
                        </div>
                        <div style="text-align:right" class="col-md-6 text-xxl-end">
                            <button class="btn btn-sm btn-success" type="submit" name="create"><i class="fa-solid fa-floppy-disk"></i>  LƯU</button>
                            <a href="@Url.Action("Index","KHOHANG")" class="btn btn-sm btn-info"><i class="fa-solid fa-backward"></i>  VỀ DANH SÁCH</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <a><strong>Mã khách hàng</strong></a>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <a><strong>Tên khách hàng</strong></a>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <a><strong>Địa chỉ</strong></a>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <a><strong>Số điện thoại</strong></a>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <a><strong>email</strong></a>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <a><strong>Số tài khoản</strong></a>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.STK, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.STK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}