@model IEnumerable<QLBanHang.Models.NHANVIEN>
@{
    ViewBag.Title = "Danh mục nhân viên";
    Layout = "~/Views/Shared/_LayoutVC.cshtml";
}
<div class="content-wrapper">
    <section class="content my-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">DANH MỤC NHÂN VIÊN</strong>
                    </div>
                    <div style="text-align:right" class="col-md-6 text-xxl-end">
                        <a href="@Url.Action("Create","NHANVIEN")" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> THÊM</a>
                        <a href="@Url.Action("Trash","NHANVIEN")" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i> THÙNG RÁC</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Mã nhân viên
                            </th>
                            <th>
                                Mã phòng ban
                            </th>
                            <th>
                                Mã chức vụ
                            </th>
                            <th>
                                Tên nhân viên
                            </th>

                            <th>
                                Ngày sinh
                            </th>
                            <th>
                                Giới tính
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Thao tác thực hiện
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaNV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaPB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaCV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenNV)
                                </td>
             
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgaySinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GioiTinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDT)
                                </td>

                                <td>
                                    <!-- <a href="@Url.Action("Details","NHANVIEN",new { id = item.MaNV })" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a> -->
                                    <a href="@Url.Action("Edit","NHANVIEN",new { id = item.MaNV })" class="btn btn-sm btn-info"><i class="fa-solid fa-edit"></i>Sửa</a>
                                    <a href="@Url.Action("Delete","NHANVIEN",new { id = item.MaNV })" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i>Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </section>
</div>