@model QLBanHang.Models.CHITIETDONBAN

@{
    ViewBag.Title = "Chỉnh sửa chi tiết đơn bán";
    Layout = "~/Views/Shared/_LayoutVC.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="content-wrapper">
        <section class="content my-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">CHỈNH SỬA THÔNG TIN CHI TIẾT ĐƠN BÁN</strong>
                        </div>
                        <div style="text-align:right" class="col-md-6 text-xxl-end">
                            <button class="btn btn-sm btn-success" type="submit" name="create"><i class="fa-solid fa-floppy-disk"></i>  LƯU</button>
                            <a href="@Url.Action("Index","CHITIETDONBAN")" class="btn btn-sm btn-info"><i class="fa-solid fa-backward"></i>  VỀ DANH SÁCH</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <a><strong>Mã đơn bán</strong></a>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaDonBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaDonBan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <a><strong>Mã sản phẩm</strong></a>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <a><strong>Giá bán</strong></a>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <a><strong>Số lượng</strong></a>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <a><strong>Tên sản phẩm</strong></a>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}